body{
   background-color: lightblue;
}
.card{
  background-color: darkblue;
  border-radius: 10px;
  border: aquamarine solid 2px;
  padding: 20px;
  color: aliceblue;
}
.App {
  text-align: center;
  margin: 0 auto;
  max-width: 250px;
 
  padding: 20px;
  border-radius: 5px;
}
button{
  color: white;
  padding: 5px 55px 5px 55px;
  border-radius: 15px;
  border: black solid 1px;
  margin: 20px;
  background-color: blue;
}

input{
  margin: 10px;
  color: black;
 padding: 10px;
  border-radius: 5px;
  border: black solid 1px;
  background-color: white;
}